.btn{
    padding: 10px 50px;
    border: 1px solid var(--color-primary);
    background-color: transparent;
    border-radius: 30px;
    color: var(--color-primary);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 900;
    box-shadow: 5px 5px 6px #000;
    text-align: center;
}
.btn:hover{
    background: var(--background-color);
    transition: 1s ease all;
   
}